organization_id     = "cmgt8204f03sa01mposqck051"
notification_emails = ["platform-alerts@example.com"]
# enable_cluster = false
# create_cluster = false
# existing_cluster_name = "prod-shared-cluster"
